@import "../../themes/generated/variables.base.scss";

#data-grid-demo {
    height: 805px;
  }

  .form-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(5, auto);
    gap: 16px; 
    // padding: 16px;
  }
  
  .form-item {
    display: flex;
    flex-direction: column;
  }
  
  .popup-form {
    padding: 20px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  
  .grid-container div {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    padding: 8px;
    font-size: 14px;
  }

  .appointment-form {
    height: 70vh;
    // width: 100%;
    // overflow: hidden;
    // width: 850px;
    // display: grid;
    // grid-template-columns: repeat(4, 1fr); // 4 columns of equal width
    // grid-template-rows: repeat(8, auto);  // 8 rows with height adjusted to content
    // gap: 16px;

    .name-container{
      display: flex;
      gap: 20px;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .list-container{
      display: flex;
      gap: 20px;
      margin-bottom: 20px;
      margin-top: 20px;
      justify-content: space-between;
    }
    .form-group-date {
      margin-bottom: 20px;
      // // display: flex;
      //  grid-column: 1/-1;
      
    }
  
    label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
    }
  
    
.dx-selectbox .dx-texteditor-input {
      width: 220px
    }
  }
  
  .dx-widget input {
    width: 220px;
  }
  // .name-container{
  //   grid-column: 1/5;
  // }