.table-header{
    text-align: center;
}

.heade-container{
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    padding: 10px;
}

.btn-container{
    display: flex;
    // justify-content: space-around;
    gap: 10px;
}

.btn1{
    width: 90px;
}