
    .popup-body {
      max-height: calc(100% - 60px); 
      overflow-y: auto;
      padding-right: 10px;
  
      .form-section {
        margin-bottom: 20px;
  
        .receiptname-container {
          display: flex;
          justify-content: space-between;
          gap: 20px;
          margin-bottom: 20px;
  
          .summary {
            display: flex;
            flex-direction: column;
            gap: 5px;
          }
        }
      }
  
      .data-grid-container {
        border: 1px solid black;
        margin-bottom: 20px;
      }
  
      .Lower-form-section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
  
        .form-row-remarks {
          grid-column: 1 / 3;
        }
  
        .quantity-container {
          grid-column: 3 / 4;
        }
  
        .summary {
          grid-column: 4 / -1;
          gap: 5px;
        }
      }
    }
  
  
  // Overlay for modal background
  .receipt-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); // Semi-transparent black overlay
    z-index: 1040; // Behind popup
  }
  
  .delete-button-container{
    display: flex;
    justify-content: space-between;
  }
  